{% extends "greenfapp/base.html" %}
  {% block content %}
    {% for receta in recetas %}
      <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ receta.author.profile.image.url }}">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ receta.author }}</a>
            <small class="text-muted">{{ receta.nombre }}</small>
            <h2><a class="article-title" href="{% url 'recetas-detail' receta.id %}">{{ receta.nombre }}</a></h2>
          </div>
            <h4>Ingredientes</h4>
            <ul>
              {% for ing in receta.ingredientes.all %}
                <li>{{ ing }} {{ ing.cantidad }} {{ ing.tip_cant }}</li>
              {% endfor %}

            </ul>
            <div>
              <h4>Elaboración</h4>
              {{ receta.elaboracion }}
            </div>
        </div>
      </article>
    {% endfor %}
  {% endblock content %}
