{% extends "greenfapp/base.html" %}
{% block content %}

    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ object.author }}</a>
          <small class="text-muted">{{ object.nombre }}</small>
          {% if object.author == user %}
            <div>
              <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'recetas-update' object.id %}">Editar</a>
              <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'recetas-delete' object.id %}">Eliminar</a>
            </div>
          {% endif %}
        </div>
          <h4>Ingredientes</h4>
          <ul>
            {% if object.ingrediente_1 %}<li type="disc">{{ object.ingrediente_1|default_if_none:"&nbsp;" }}</li>{%endif%}
            {% if object.ingrediente_2 %}<li type="disc">{{ object.ingrediente_2|default_if_none:"&nbsp;" }}</li>{%endif%}
            {% if object.ingrediente_3 %}<li type="disc">{{ object.ingrediente_3|default_if_none:"&nbsp;" }}</li>{%endif%}
            {% if object.ingrediente_4 %}<li type="disc">{{ object.ingrediente_4|default_if_none:"&nbsp;" }}</li>{%endif%}
            <!--
            <li type="disc">{{ receta.ingrediente_1|default_if_none:"&nbsp;" }}</li>
            <li type="disc">{{ receta.ingrediente_2|default_if_none:"&nbsp;" }}</li>
            <li type="disc">{{ receta.ingrediente_3|default_if_none:"&nbsp;" }}</li>
            <li type="disc">{{ receta.ingrediente_4|default_if_none:"&nbsp;" }}</li>
            -->
          </ul>
          <div>
            <h4>Elaboración</h4>
            {{ object.elaboracion }}
          </div>
      </div>
    </article>

  {% endblock content %}
